<html lang="en">

<body>
	
		<div class="container" style="margin-bottom: 0px;">
			<div style="height:100px;">
				<ul style="list-style-type: none;">
					<li style="display:block; float:left;"><h1>Add Items to Pantry</h1></li>
					<li style="display:block; float:right;">
						<div id="addButtonDiv">
							<a id="addToPantryButton" href="#">Add Current Items to Pantry</a>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<form id="addBarcodeForm" action="/addBarcode">
					<table>
						<tr>
							<td><label for="barcode">Barcode</label></td>
							<td><input type="text" name="barcode" id="barcodeInput"></td>
						</tr>
						
						<tr class="formBottom">
							<td><label for="itemName">Item Name</label></td>
							<td><input type="text" name="itemName"></td>
						</tr>
						<tr class="formBottom">
							<td><label for="defaultQuantity">Default Quantity</label></td>
							<td><input type="number" name="defaultQuantity"></td>
						</tr>
						<tr class="formBottom">
							<td><label for="UOM">Unit of Measure</label></td>
							<td><input type="text" name="UOM"></td>
						</tr>
						<tr class="formBottom">
							<td><label for="category">Category</label></td>
							<td><input type="text" name="category"></td>
						</tr>
						
					</table>
					<a id="formSubmit" href="#" style="display: none; margin-top: 10px;">Submit Form</a>
				</form>
			</div>
		</div>
		
		<!-- <button id="showFormButton">Show Form</button> -->
	

	<div class="container">
		
		
		<div class="row header">
			<div class="col col-md-2">Barcode</div>
			<div class="col col-md-3">Item Name</div>
			<div class="col col-md-2">Quantity</div>
			<div class="col col-md-1">Unit</div>
			<div class="col col-md-2">Category</div>
			<div class="col col-md-1">Edit</div>
			<div class="col col-md-1">Delete</div>
		</div>
		<div class="itemTable">
			{{#if items}}
				{{#each items}}
					<div id={{this._id}} class="row">
						<div class="col col-md-2 col-sm-12 barcodeCol">{{this.barcode}}</div>
						<div class="col col-md-3 col-sm-12 itemNameCol">{{this.itemName}}</div>
						<div class="col col-md-2 quantityCol">{{this.quantity}}</div>
						<div class="col col-md-1 UOMCol">{{this.UOM}}</div>
						<div class="col col-md-2 categoryCol">{{this.category}}</div>
						<div class="icons" >
							<div class="col col-md-1 iconCol editButton"><a href="#"><img src="assets/img/editIcon.png" width="25px"></a></div>
							<div class="col col-md-1 iconCol deleteButton"><a href="#"><img src="assets/img/deleteIcon.png" width="25px"></a></div>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>

		
<script type="text/javascript" src="/assets/addItems.js"></script>
<script type="text/javascript">
	document.getElementById("addItemTab").classList.add("active");
</script>
</body>

</html>