<html lang="en">

<body>
	
	<div class="container" style="margin-bottom: 15px;">
		<h1>Pantry Items</h1>
		<table style="margin-top:20px">
			<tr>
				<td><label style="margin-right: 10px">Barcode:</label></td>
				<td><input type="text" name="barcode" id="barcodeInput" onfocusout="this.value = ''"></td>
			</tr>
			<tr>
				<td><label style="margin-right: 10px; margin-top: 10px;">Search:</label></td>
				<td><input style="margin-top: 10px;" type="text" name="searchInput" id="searchInput" ></td>
			</tr>
		</table>
		<!-- <div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" id="dropdownButton" type="button" data-toggle="dropdown" style="margin-top: 10px;">Sort By<span class="caret" style="margin-left: 5px;"></span></button>
		    <ul class="dropdown-menu">
				<li><a href="#" onclick="sortList(1)">Item Name</a></li>
				<li><a href="#" class="active" onclick="sortList(4)">Category</a></li>
				<li><a href="#" onclick="sortList(3)">Low Status</a></li>
		    </ul>
		</div> -->
		<h3>Sort By:</h3>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" onclick="sortList(1)">Item Name</button>
			<button type="button" class="btn btn-default active" onclick="sortList(4)">Category</button>
			<button type="button" class="btn btn-default" onclick="sortList(3)">Low Status</button>
		</div>
		<!-- <div class="sortOpts">
			<h3>Sort By:</h3>
			<ul>
				<li class="activeSort" onclick="sortList(1)"><button>Item Name</button></li>
				<li onclick="sortList(4)"><button>Category</button></li>
				<li onclick="sortList(3)"><button>Low Status</button></li>
			</ul>
		</div> -->
	</div>

	<div class="alert alert-success" role="alert" id="addToListSuccess">
		Successfully added item to shopping list. <a href="/shoppingList" id="popupLink" class="alert-link">Go to list</a>.
	</div>
	<div class="alert alert-danger" role="alert" id="barcodeSearchError">
		This item is not currently in your pantry.
	</div>

	<div class="container">
		<div class="row header">
			<div class="col col-md-3">Item Name</div>
			<div class="col col-md-1">Quantity</div>
			<div class="col col-md-2">Unit</div>
			<div class="col col-md-2">Category</div>
			<div class="col col-md-1">Edit</div>
			<div class="col col-md-1">Add to List</div>
			<div class="col col-md-1">Remove</div>
			<div class="col col-md-1">Low</div>
		</div>
		<div id="pantryItems" class="itemTable">
			{{#if items}}
				{{#each items}}
					<div id={{this._id}} class="row">
						<div class="itemBarcode" style="display: none;">{{this.barcode}}</div>
						<div class="col col-md-3 col-sm-12 itemNameCol" id={{this.itemName}}>{{this.itemName}}</div>
						<div class="col col-md-1 quantityCol">{{this.quantity}}</div>
						<div class="col col-md-2 UOMCol">{{this.UOM}}</div>
						<div class="col col-md-2 categoryCol">{{this.category}}</div>
						<div class="icons" >
							<div class="col col-md-1 iconCol editButton"><a href="#"><img src="assets/img/editIcon.png" width="25px"></a></div>
							<div class="col col-md-1 iconCol addButton"><a href="#"><img src="assets/img/addListIcon.png" width="25px"></a></div>
							<div class="col col-md-1 iconCol deleteButton"><a href="#"><img src="assets/img/deleteIcon.png" width="25px"></a></div>
							<div class="col col-md-1 iconCol lowButton"><a href="#"><p class="hiddenLowValue" style="display: none;">{{this.isLow}}</p><img class="lowButtonIcon" src="assets/img/emptyCircleIcon.png" width="25px"></a></div>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>

	<div id="editModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3>Edit Item</h3>
			<form id="editingForm" action="/editPantryItem">
				<table>
					<tr>
						<td class="labelCol"><label for="itemId">Item Id</label></td>
						<td class="inputCol"><input id="itemIdInput" type="text" name="itemId" readonly></td>
					</tr>
					<tr style="display: none;">
						<td class="labelCol"><label for="barcode">Barcodes</label></td>
						<td class="inputCol"><input id="barcodeDisplay" type="text" name="barcode" readonly></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="itemName">Item Name</label></td>
						<td class="inputCol"><input id="itemNameInput" type="text" name="itemName"></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="quantity">Quantity</label></td>
						<td class="inputCol"><input id="quantityInput" type="number" name="quantity"></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="UOM">Unit of Measure</label></td>
						<td class="inputCol"><input id="uomInput" type="text" name="UOM"></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="category">Category</label></td>
						<td class="inputCol"><input id="categoryInput" type="text" name="category"></td>
					</tr>
					
				</table>
				
				
			</form>
			<table class="modalIcons">
				<tr>
					<td><h5>Save</h5></td>
					<td><h5>Add to List</h5></td>
					<td><h5>Delete</h5></td>
					<td><h5>Low</h5></td>
				</tr>
				<tr>
					<td><a id="editFormSubmit" href="#"><img src="assets/img/saveIcon.png" width="25px"></a></td>
					<td class="addButton_editModal"><a href="#"><img src="assets/img/addListIcon.png" width="25px"></a></td>
					<td class="deleteButton_editModal"><a href="#"><img src="assets/img/deleteIcon.png" width="25px"></a></td>
					<td class="lowButton_editModal"><a href="#"><p class="hiddenLowValue" style="display: none;">{{this.isLow}}</p><img id="lowButtonIcon_editModal" src="assets/img/emptyCircleIcon.png" width="25px"></a></td>
				</tr>
			</table>
		</div>
	</div>
	


	
		
<script type="text/javascript">
	document.getElementById("pantryTab").classList.add("active");

	let lowValues = document.getElementsByClassName("hiddenLowValue");
	for(let i=0; i<lowValues.length;i++){
		if(lowValues[i].innerHTML == "true"){
			let parent = lowValues[i].parentElement;
			parent.children[1].src = "assets/img/almostEmptyIcon.png";
			let emptyRow = lowValues[i].parentElement.parentElement.parentElement.parentElement;
			emptyRow.style.backgroundColor = '#ffe6e6';
			emptyRow.style.fontWeight = 'Bold';

		}
	}
	
	if(document.getElementById('addToListSuccess').style.display == 'block'){
		document.getElementById('addToListSuccess').hide(1000);
	}

	if(document.getElementById('barcodeSearchError').style.display == 'block'){
		document.getElementById('barcodeSearchError').hide(1000);
	}
	
	function sortList(opts) {
		var list, i, switching, b, shouldSwitch;
		list = document.getElementById("pantryItems");
		switching = true;
		/*Make a loop that will continue until
		no switching has been done:*/
		while (switching) {
		//start by saying: no switching is done:
			switching = false;

			
			b = list.children;

			//Loop through all list-items:
			for (i = 0; i < (b.length - 1); i++) {

				switch (opts){
					case 1:
						x = b[i].children[opts].innerHTML.toUpperCase();
						y = b[i + 1].children[opts].innerHTML.toUpperCase();
						var activebtn = 0;
						break;
					case 4:
						x = b[i].children[opts].innerHTML.toUpperCase();
						y = b[i + 1].children[opts].innerHTML.toUpperCase();
						var activebtn = 1;
						break;
					case 3:
						x = b[i + 1].children[5].children[opts].innerHTML.toUpperCase();
						y = b[i].children[5].children[opts].innerHTML.toUpperCase();
						var activebtn = 2;
						break;
				}
				//start by saying there should be no switching:
				shouldSwitch = false;
				/*check if the next item should
				switch place with the current item:*/
				if (x > y) {
					/*if next item is alphabetically
					lower than current item, mark as a switch
					and break the loop:*/
					shouldSwitch = true;
					break;
				}
			}
			if (shouldSwitch) {
				/*If a switch has been marked, make the switch
				and mark the switch as done:*/
				b[i].parentNode.insertBefore(b[i + 1], b[i]);
				switching = true;
			}
		}
		var btn = document.getElementsByClassName("btn-group")[0].children;
		for (i=0; i < btn.length; i++){
			btn[i].classList.remove("active");
		}
		btn = btn[activebtn];
		console.log(btn);
		// .children[2].children[activebtn];
		btn.className += " active";
		// .add("acitve");
	}

</script>

<script type="text/javascript" src="/assets/pantry.js"></script>

</body>

</html>