<html lang="en">

<body>
	
	<div class="container">
		<h1>Shopping List</h1>		
	</div>
	<div class="container">
		<div class="row header">
			<div class="col col-md-3">Item Name</div>
			<div class="col col-md-2">Quantity</div>
			<div class="col col-md-2">Unit</div>
			<div class="col col-md-2">Category</div>
			<div class="col col-md-1">Edit</div>
			<div class="col col-md-1">Remove</div>
		</div>
		<div id="shoppingItems" class="itemTable">
			{{#if items}}
				{{#each items}}
					<div id={{this._id}} class="row">
						<div class="col col-md-3 col-sm-12 itemNameCol">{{this.itemName}}</div>
						<div class="col col-md-2 quantityCol">{{this.quantity}}</div>
						<div class="col col-md-2 UOMCol">{{this.UOM}}</div>
						<div class="col col-md-2 categoryCol">{{this.category}}</div>
						<div class="icons" >
							<div class="col col-md-1 iconCol editButton"><a href="#"><img src="assets/img/editIcon.png" width="25px"></a></div>
							<div class="col col-md-1 iconCol deleteButton"><a href="#"><img src="assets/img/deleteIcon.png" width="25px"></a></div>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>

	<div id="editModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3>Edit Item</h3>
			<form id="editingForm" action="/editShoppingItem">
				<table>
					<tr>
						<td class="labelCol"><label for="itemId">Item Id</label></td>
						<td class="inputCol"><input id="itemIdInput" type="text" name="itemId" readonly></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="itemName">Item Name</label></td>
						<td class="inputCol"><input id="itemNameInput" type="text" name="itemName"></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="quantity">Quantity</label></td>
						<td class="inputCol"><input id="quantityInput" type="number" name="quantity"></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="UOM">Unit of Measure</label></td>
						<td class="inputCol"><input id="uomInput" type="text" name="UOM"></td>
					</tr>
					<tr>
						<td class="labelCol"><label for="category">Category</label></td>
						<td class="inputCol"><input id="categoryInput" type="text" name="category"></td>
					</tr>
					
				</table>
				
				
			</form>
			<table class="modalIcons">
				<tr>
					<td><h5>Save</h5></td>
					<td><h5>Delete</h5></td>
				</tr>
				<tr>
					<td><a id="editFormSubmit" href="#"><img src="assets/img/saveIcon.png" width="25px"></a></td>
					<td class="deleteButton_editModal"><a href="#"><img src="assets/img/deleteIcon.png" width="25px"></a></td>
				</tr>
			</table>
		</div>

<script type="text/javascript" src="/assets/shoppingList.js"></script>

</body>
</html>